# ignore virtual node with virtual service ARN
**/yelb-ui-final.yaml

#ignore App mesh spec file
**/app-mesh.yaml

# ignore kubeconfig for frontend cluster authentication
**/front_config

# ignore kubeconfig for backend cluster authentication
**/back_config

# ignore frontend kubeconfig ConfigMap 
**/front_kubeconfig.yaml

# ignore backend kubeconfig ConfigMap
**/back_kubeconfig.yaml 


